<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="top">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand me-3" do %>
        <%= image_tag "logo.png", class: "mb-2 me-2" %> <span class="logo-font">GamesKaar</span>
      <% end %>

      <%= form_with url: "/games", method: :get, class: "d-flex mb-0" do |form| %>
        <%= form.text_field :search, class: "form-control me-2 col-6", style: "width: 600px", placeholder: "Search for any game..." %>
        <%= form.submit "Search", class:"bot-outline"%>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
          <li class="btn-group m-2 dropdown">
            <button class="bot-outline dropdown-toggle text-decoration-none " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </button>
            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All", games_path, class: "dropdown-item fw-bold" %>
              <%= link_to "Action", games_path(category: "Action"), class: "dropdown-item" %>
              <%= link_to "Adventure", games_path(category: "Adventure"), class: "dropdown-item" %>
              <%= link_to "FPS", games_path(category: "FPS"), class: "dropdown-item" %>
              <%= link_to "Horror", games_path(category: "Horror"), class: "dropdown-item" %>
              <%= link_to "MMO", games_path(category: "MMO"), class: "dropdown-item" %>
              <%= link_to "MMORPG", games_path(category: "MMORPG"), class: "dropdown-item" %>
              <%= link_to "MOBA", games_path(category: "MOBA"), class: "dropdown-item" %>
              <%= link_to "Puzzle", games_path(category: "Puzzle"), class: "dropdown-item" %>
              <%= link_to "RPG", games_path(category: "RPG"), class: "dropdown-item" %>
              <%= link_to "Simulation", games_path(category: "Simulation"), class: "dropdown-item" %>
              <%= link_to "Sports", games_path(category: "Sports"), class: "dropdown-item" %>
              <%= link_to "Strategy", games_path(category: "Strategy"), class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item m-2 py-2">
            <%= link_to "New listing", new_game_path, class: "bn5 text-decoration-none" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item m-2 dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "avatar.jpg", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Library", orders_path, class: "dropdown-item" %>
              <%= link_to "Store", games_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item m-2">
            <%= link_to "Login", new_user_session_path, class: "bot-outline nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
