<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0">
        <div class="d-flex card-category">
          <%= cl_image_tag @game.image.key, class: "img-fluid img-small" %>
          <div class="text-center my-2">
            <strong><span class="card-text mx-3"><%= @game.name %></span></strong>
            <p class="mx-3 my-2"><%= @game.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-5">
      <div class="card border-0">
        <div class="card-body card-category" data-controller="apply-discount">
          <p class="card-text" data-target="apply-discount.price" data-initial-price="<%= @game.price %>">
            <strong>Price: <%= number_to_currency(@game.price) %></strong>
          </p>
          <%= simple_form_for([@game, @order], data: { action: "keyup->apply-discount#count" }, html: { class: "mt-3" }) do |f| %>
            <div class="row">
                <%= f.label :coupon do %>
                  Promo Code <i class="fa-solid fa-receipt text-danger"></i>
                <% end %>

                <%= f.input :coupon, label: false, placeholder: "Add your coupon code", input_html: { data: { target: "apply-discount.input" } }, class: "form-control" %>

            </div>
            <p class="card-text text-end" data-apply-discount-target="discount">Discount: <%= number_to_currency(0) %></p>
            <p class="card-text text-end" data-apply-discount-target="finalPrice"><strong>Total: <%= number_to_currency(@game.price) %></strong></p>
            <%= link_to games_path, class: "me-2 bot-purple" do %>
              <i class="fa-solid fa-arrow-left fa-2xs"></i> Back
            <% end %>
            <%= f.submit 'Confirm order', class: "bot-yellow" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
