<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-3">
      <div class="card border-0">
        <div class="card-body text-center">
          <div class="card-category card">
            <%= cl_image_tag @game.image.key, class: "img-fluid" %>
          </div>
          <p class="card-text mt-2"><%= @game.description %></p>
          <p class="card-text"><strong>Price: <%= number_to_currency(@game.price) %></strong></p>
          <%= simple_form_for([@game, @order], html: { class: "mt-3" }) do |f| %>
            <%= f.submit "Confirm buy", class: "btn btn-outline-success btn-block" %>
          <% end %>
          <%= link_to games_path do%>
            <button class="bot-purple mt-2"><i class="fa-solid fa-arrow-left fa-2xs"> Back</i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
