<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banners/banner-5.png", class:"w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-2.png", class:"w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-3.png", class:"w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banners/banner-4.png", class:"w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="text-center my-5">FEATURED GAMES</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="featured-banner1 card h-100">
        <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
           <h1 class=""><%= link_to "Add your favorite game to sell", new_game_path, class:"link-text text-decoration-none text-white"%></h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="featured-banner2 card h-100">
        <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
           <h1 class=""><%= link_to "Check your play store", games_path, class:"link-text text-decoration-none text-white" %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
