<div class="container">
  <%= simple_form_for(@game) do |form| %>
      <%= form.input :name %>
      <%= form.input :description %>
      <%= form.input :category %>
      <%= form.input :price %>
      <%= form.submit do %>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
      <% end %>
  <% end %>
  <%= link_to games_path do%>
    <button class="bot-purple mt-2"><i class="fa-solid fa-arrow-left fa-2xs"> Back</i></button>
  <% end %>
</div>
