<div class="container mt-3">
  <%= cl_image_tag @game.image.key, width: 400 %>
  <h1><%= @game.name %></h1>
  <p>Description: <%= @game.description %></p>
  <p>Category: <%= @game.category %></p>
  <p>Price: <%= @game.price %></p>
  <%= link_to 'back', games_path, class: "btn btn-sm btn-primary my-3" %>
  <%= link_to 'edit', edit_user_game_path(@game), class: "btn btn-sm btn-warning"%>
</div>
