<div class="m-3">
  <%= link_to games_path do%>
    <button class="bot-purple"><i class="fa-solid fa-arrow-left fa-2xs"> Back</i></button>
  <% end %>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-5">
      <%= cl_image_tag @game.image.key, width: 400 %>
    </div>
    <div class="col-6">
      <h1><%= @game.name %></h1>
      <p>Description: <%= @game.description %></p>
      <p>Category: <%= @game.category %></p>
      <p>Price: <%= @game.price %></p>
      <% if @user == @game.user %>
        <%= link_to edit_game_path(@game) do%>
          <button class="bot-yellow-edit yellow me-2"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
        <% end %>
        <%= link_to game_path(@game), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <button class="bot-red red"><i class="fa-solid fa-trash fa-fa"></i> Delete</button>
        <% end %>
        <% else %>
          <% unless @game.bought? %>
          <%= link_to new_game_order_path(game_id: @game.id) do%>
            <button class="bot-yellow yellow"><i class="fa-solid fa-cart-shopping"> Buy</i></button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
