<!DOCTYPE html>
<html>
  <head>
    <title>RailsGameskaar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <a href="#top" id="myBtn" data-controller="scroll-to" title="Go to top"> <i class="fa-solid fa-up-long fa-bounce" style="color: #9d1b1b;"></i> </a>
  </body>
</html>
