<!DOCTYPE html>
<html>
  <head>
    <title>Buy and Sell games here - GamesKaar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon" />
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
   <div data-controller="scroll-to-top">
  <a href="#" class="scroll-to-top" data-action="click->scroll-to-top#scrollToTop" data-scroll-to-top-target="button"><i class="fa-solid fa-arrow-up fa-bounce" style="color: #ffc600;"></i></a>
</div>
    <%= render "shared/footer" %>
  </body>
</html>
